<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link talwin -->
    <link href="/src/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <!-- Login form -->
     <form id ="form" action="Login">
        <div class="Name">
        <label class="User-Name" > User Name</label>
        <input type="text" name="User-Name" id="User-Name"  required>
        </div>

        
        <label class="password" >Password</label>
        <input type="text" name="password" id="password"  required>

     </form>
</body>
</html>